* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Oswald', sans-serif;
}

header {
  background-image: url("images/workers.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

main {
  position: absolute;
  top: 400px;
}

footer {
  background-color: black;
  height: 150px;
  z-index: 100;
}
